@font-face {
  font-display: block;
  font-family: wf_b3b23dabd7104520ade9b4012;
  src: url("./img/file.woff") format("woff");
}

body {
  font-family: wf_b3b23dabd7104520ade9b4012;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spinner {
  display: flex;
  margin: 10vw auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
  transition: opacity linear 0.1s;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
  opacity: 0.2;
}
.spinner--active {
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
